@font-face {
    font-family: 'Nexa Bold';
    src: url("../fonts/NexaBold.eot");
    src: url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url("../fonts/NexaLight.eot");
    src: url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.svg#NexaLight") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// body{
//     background: ;
//     background-size: top right;
// }
@media (min-width: 1500px) {
    .container {
        max-width: 1430px;
    }
}

@import "component/mixins";
@import "component/header";
@import "page/product";
@import "page/register";
@import "page/choose-option";
@import "page/checkout";
@import "page/detail-option";
@import "component/footer";